

body{
 background-color: hsl(212, 45%, 89%);
 font-size: 15px;
}

.card{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:500px;
    width: 300px;
    border-radius: 1rem; 
    padding: 1.2rem;
}

.imagen1{
    height: 60%;
    width: 100%;
    border-radius: 1rem;
}

.parrafo1{
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo2{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Responsive code */
@media only screen and (max-width: 375px) {

    body{
        background-color: hsl(212, 45%, 89%);
       }
       
       .card{
           background-color: rgb(255, 255, 255);
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           height:500px;
           width: 300px;
           border-radius: 1rem; 
           padding: 1.2rem;
       }
       
       .imagen1{
           height: 60%;
           width: 100%;
           border-radius: 1rem;
       }
       
       .parrafo1{
           text-align: center;
           color: hsl(218, 44%, 22%);
           font-size: 1.4rem;
           font-weight: bold;
           font-family: Arial, Helvetica, sans-serif;
       }
       
       .parrafo2{
           text-align: center;
           color: hsl(220, 15%, 55%);
           font-size: 1.1rem;
           font-family: Arial, Helvetica, sans-serif;
       }
   
      
}






